.header-language {
  // position: fixed;
  // top: 0;
  // right: 0;
  // z-index: 100;
  // padding: 10px 20px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;

  p {
    color: #f30f0f;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    margin-bottom: 0;
  }
}
.header-logo {
  img {
    width: 80px;
    height: 80px;
  }
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}
