.header-language {
  p {
    color: #dd0103;
    font-weight: 600;
    font-size: 25px;
  }
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    img{
        width: 100px;
        height: 100px;
    }
}
