.header-language {
  text-align: center;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-language p {
  color: #f30f0f;
  font-weight: 600;
  font-size: 25px;
  cursor: pointer;
  margin-bottom: 0;
}

.header-logo img {
  width: 80px;
  height: 80px;
}

.header {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
}

.footer {
  border-top: 1px solid #d14a43;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.footer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 30px 0 30px 0;
}
.footer ul li {
  list-style-type: none;
}
.footer ul a {
  text-decoration: none;
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.footer ul a:hover {
  color: #d14a43;
}

.footer-mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-mobile .icons-footer {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 1rem 0;
  border-top: #d14a43 solid 1px;
}
.footer-mobile .icon {
  font-size: 30px;
}
.footer-mobile a {
  color: white;
}

@media only screen and (max-width: 767px) {
  .footer {
    display: none;
  }
}
@media only screen and (min-width: 767px) {
  .footer-mobile {
    display: none;
  }
}
* {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vh;
  height: 100vw;
  /*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
}

article {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}

section {
  width: 100vw;
  height: 100vh;
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: monospace;
  font-size: 3rem;
  /*  backface visibility keeps font from looking weird  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.home-words-red {
  color: #dd0103;
  font-size: 80px;
  line-height: 75px;
  cursor: default;
}

.home-words-white {
  color: white;
  font-size: 80px;
  line-height: 75px;
  cursor: default;
}

.loading svg {
  width: 45vw;
  height: 45vh;
}

#infinity-outline {
  fill: transparent;
  stroke-width: 4;
  stroke: red;
  stroke-dasharray: 3px, 300px;
  stroke-dashoffset: 0;
  animation: anim 3000ms linear infinite;
}

#infinity-bg {
  fill: transparent;
  stroke-width: 4;
  stroke: #424242;
  opacity: 0.2;
}

@keyframes anim {
  12.5% {
    stroke-dasharray: 42px, 300px;
    stroke-dashoffset: -33px;
  }
  43.75% {
    stroke-dasharray: 105px, 300px;
    stroke-dashoffset: -105px;
  }
  100% {
    stroke-dasharray: 3px, 300px;
    stroke-dashoffset: -297px;
  }
}
@media only screen and (max-width: 767px) {
  .home-words-red {
    font-size: 50px;
    text-align: center;
    line-height: 45px;
  }
  .home-words-white {
    font-size: 50px;
    text-align: center;
    line-height: 45px;
  }
  .home-content {
    padding: 0px 0 0 0;
  }
  .loading {
    display: none;
  }
}
#first-page {
  background-color: black;
}

#second-page {
  background: rgba(33, 33, 33, 0.9);
  display: block;
}

.main-about-us .main-about-us-top {
  margin-top: 90px;
  font-size: 70px;
  text-align: center;
  color: rgb(255, 0, 0);
  font-weight: 700;
  -webkit-text-stroke: 1px #ffffff;
  color: rgba(33, 33, 33, 0.479);
}
.main-about-us .main-about-us-main {
  font-size: 25px;
  text-align: center;
  color: white;
  margin-top: 30px;
  font-weight: 800;
}
.main-about-us .main-about-us-bottom {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 20px;
}
.main-about-us .main-about-us-button {
  display: flex;
  justify-content: center;
}
.main-about-us .main-about-us-button button {
  background-color: red;
  border-radius: 20px;
  margin-top: 30px;
  font-size: 25px;
}
.main-about-us .main-about-us-button button a {
  color: white;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .main-about-us .main-about-us-top {
    font-size: 50px;
  }
  .main-about-us .main-about-us-main {
    font-size: 19px;
    font-weight: 600;
  }
  .main-about-us .main-about-us-bottom {
    font-size: 15px;
    margin-top: 30px;
  }
  .main-about-us .main-about-us-button button {
    font-size: 20px;
  }
}
@media only screen and (max-width: 375px) {
  .main-about-us .main-about-us-top {
    font-size: 50px;
  }
  .main-about-us .main-about-us-main {
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
  }
  .main-about-us .main-about-us-bottom {
    font-size: 11px;
    margin-top: 10px;
  }
  .main-about-us .main-about-us-button button {
    font-size: 15px;
  }
}
#six-page {
  background: url(https://flegrei.ru/catalog/view/theme/default/image/parallax-bg10.jpg);
  background-size: cover;
  background-position: center;
}
#six-page .main-contact-us-top {
  color: #ffffff;
  font-family: "Montserrat", Sans-serif;
  font-size: 0.9rem;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  cursor: default;
}
#six-page .main-contact-us-main {
  color: #ffffff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  font-family: "Montserrat", Sans-serif;
  cursor: default;
}
#six-page .main-contact-us-header {
  font-size: 0.9rem;
  color: #fff;
  font-weight: 600;
  text-align: center;
  padding: 0% 20%;
  margin-bottom: 40px;
  font-weight: bold;
  font-family: "Montserrat", Sans-serif;
  cursor: default;
}

@font-face {
  font-family: "icomoon";
  src: url("/assets/fonts/icomoon.eot?gk0kdp");
  src: url("/assets/fonts/icomoon.eot?gk0kdp#iefix") format("embedded-opentype"), url("/assets/fonts/icomoon.ttf?gk0kdp") format("truetype"), url("/assets/fonts/icomoon.woff?gk0kdp") format("woff"), url("/assets/fonts/icomoon.svg?gk0kdp#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak-as: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-address-book:before {
  content: "\e902";
}

.icon-folder:before {
  content: "\e903";
}

.icon-info-1:before {
  content: "\e900";
}

.icon-home:before {
  content: "\e901";
}

.icon-briefcase:before {
  content: "\e9ae";
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}